.dashboard-container {
  margin: auto;
  padding: 2rem;
  text-align: center;
  background-color: #fefefe;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
}

.dashboard-container button {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #e74c3c;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard-container button:hover {
  background-color: #c0392b;
}

.admin-badge {
  color: white;
  background-color: #d32f2f;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 0.9rem;
}
.user-badge {
  color: white;
  background-color: #1976d2;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 0.9rem;
}
